/* add_student.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: #E4EDFC;
}
.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.container {
    margin: auto;
    width: 30%;
    
}



.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.attendance-form {
    max-width: 250px; /* Adjust as needed */
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    margin-left: 15px;/* Ensure content wraps to new line when there's not enough space */
  
}

input {
    width: 200px;
    border: none;
    padding: 4px;
    border-radius: 4px;
    background-color: #E4EDFC;
    margin-left: 15px;
    color: green;
    
}
select{
    width: 200px;
    margin-left: 15px;
    border: none;
    padding: 4px;
    border-radius: 4px;
    background-color: #E4EDFC;
    margin-bottom: 4px;
    color: green;

}

label{
  font-weight: bold;
  font-size: small;
  margin: 6px 0px;
}

button{
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 4px;
    width: 100px;
    font-weight: bold;
}

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
  

    .btn-save {
        font-size: 16px;
    }
    .nav img{
        width: 150px;
    }
    .container {
        margin: auto;
        width: 85%;
        
    }
}
