/* add_student.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217,0.05) 0%, rgba(217, 217, 217,0.05) 15%,rgba(197, 197, 197,0.05) 15%, rgba(197, 197, 197,0.05) 34%,rgba(178, 178, 178,0.05) 34%, rgba(178, 178, 178,0.05) 51%,rgba(237, 237, 237,0.05) 51%, rgba(237, 237, 237,0.05) 75%,rgba(138, 138, 138,0.05) 75%, rgba(138, 138, 138,0.05) 89%,rgba(158, 158, 158,0.05) 89%, rgba(158, 158, 158,0.05) 100%),radial-gradient(circle at center center, rgb(255,255,255) 0%, rgb(255,255,255) 6%,rgb(255,255,255) 6%, rgb(255,255,255) 12%,rgb(255,255,255) 12%, rgb(255,255,255) 31%,rgb(255,255,255) 31%, rgb(255,255,255) 92%,rgb(255,255,255) 92%, rgb(255,255,255) 97%,rgb(255,255,255) 97%, rgb(255,255,255) 100%);
    background-size: 42px 42px;
}
.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.nav a{
    width: 40px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 5px; /* Space between label and input */
}

input[type="text"],
input[type="number"],
select {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.btn-save {
    display: block;
    width: 40%;
    margin: 0 auto; /* Center button horizontally */
    padding: 6px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

.btn-save:hover {
    background-color: #0056b3;
}

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
    form {
        padding: 10px;
    }

    .btn-save {
        font-size: 16px;
    }
    .nav img{
        width: 200px;
    }
}
