.nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: darkblue;
    padding: 0px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.nav a{
    width: 40px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    
}

.button {
    padding: 6px;
    background-color: mediumseagreen;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.card {
    width: 250px;
    height: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217,0.05) 0%, rgba(217, 217, 217,0.05) 15%,rgba(197, 197, 197,0.05) 15%, rgba(197, 197, 197,0.05) 34%,rgba(178, 178, 178,0.05) 34%, rgba(178, 178, 178,0.05) 51%,rgba(237, 237, 237,0.05) 51%, rgba(237, 237, 237,0.05) 75%,rgba(138, 138, 138,0.05) 75%, rgba(138, 138, 138,0.05) 89%,rgba(158, 158, 158,0.05) 89%, rgba(158, 158, 158,0.05) 100%),radial-gradient(circle at center center, rgb(255,255,255) 0%, rgb(255,255,255) 6%,rgb(255,255,255) 6%, rgb(255,255,255) 12%,rgb(255,255,255) 12%, rgb(255,255,255) 31%,rgb(255,255,255) 31%, rgb(255,255,255) 92%,rgb(255,255,255) 92%, rgb(255,255,255) 97%,rgb(255,255,255) 97%, rgb(255,255,255) 100%);
    background-size: 42px 42px;
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 50px;
    }
    .nav img{
        width: 200px;
    }
}
