{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/hod_landing.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- User information and logout link -->
    <div class="nav">
        <img src="{% static 'images/logo2.png' %}" alt="Logo" class="logo">
        <a class="button" href="logout/">logout</a>
    </div>

    <h4>welcome {{ department_obj.user }}!</h4>
    <h4>Head of {{department_obj.name}} Department</h4>

    <div class="request-card">
        {% for request in user.received_requests.all %}
            {% if request.status == 'pending' %}
                   
                    <div class="request-actions">
                        <h5>{{ request.staff.name }}</h5>
                        <a href="{% url 'accept_request' request_id=request.id %}" class="accept-link">Accept</a>
                        <a href="{% url 'decline_request' request_id=request.id %}" class="decline-link">Decline</a>
                    </div>
                
            {% endif %}
        {% endfor %}
    </div>

    <!-- Staff Requests -->
   

    <!-- Popup for Requests -->
    
</body>
</html>
